* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-color: var(--color-white-transparent-less);
  position: relative;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Big Shoulders Display", cursive;
}
